<a href="/"><input class="homeButton" type="submit" value="Homepage"></a>
<a href="/create_ticket_view/"><input class="createTicket" type="submit" value="Create Ticket"></a>



<h1>Homepage</h1>
    <h2>Welcome, {{ request.user.username }}!</h2>
    <p>
        <a href="/logout/"><Button>Logout</Button></a>

        <a href="/login/"><Button>Login</Button></a>
    </p>

<div>
    <h1>New Ticket</h1>
     {% for ticket in New reversed %}
           <ul>
               <li>
                <a href="/ticket_detail_view/{{ ticket.id }}/">{{ ticket.title }}</a>
                Reported by: <a href="/user_detail_view/{{ ticket.user_filed.id }}">{{ ticket.user_filed }}</a>
               </li>
           </ul>
    {% endfor %}
</div>
<br>
<div>
    <h1>Ticket In Progress</h1>
     {% for ticket in In_Progress reversed %}
        <ul>
            <li>
                Title: <a href="/in_progress_ticket_view/{{ ticket.id }}/">{{ ticket.title }}</a>
                <br>
                Assigned To: <a href="/user_detail_view/{{ ticket.user_assigned.id }}">{{ ticket.user_assigned }}</a>
               <br>
                Reported by: <a href="/user_detail_view/{{ ticket.user_filed.id }}">{{ ticket.user_filed }}</a>
            </li>
        </ul>
    {% endfor %}
</div>
<br>
<div>
    <h1>Completed Ticket</h1>
     {% for ticket in Completed reversed %}
        <ul>
            <li>
            Title: <a href="/completed_ticket_view/{{ ticket.id }}/">{{ ticket.title }}</a>
            <br>
            Completed By: <a href="/user_detail_view/{{ ticket.user_completed.id }}">{{ ticket.user_completed }}</a>
            Reported by: <a href="/user_detail_view/{{ ticket.user_filed.id }}">{{ ticket.user_filed }}</a>
            </li>
        </ul>
    {% endfor %}
</div>
<br>
<div>
    <h1>Invalid Ticket</h1>
     {% for ticket in Invalid reversed %}
        <ul>
            <li>
            Title: <a href="/invalid_ticket_view/{{ ticket.id }}/">{{ ticket.title }}</a>
            <br>
            Completed By: <a href="/user_detail_view/{{ ticket.user_completed.id }}">{{ ticket.user_completed }}</a>
            Reported by: <a href="/user_detail_view/{{ ticket.user_competed.id }}">{{ ticket.user_completed }}</a>
            </li>
        </ul>
    {% endfor %}
</div>