<a href="/"><input class="homeButton" type="submit" value="Homepage"></a>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/ticket/{{ ticket.id }}/edit/">Edit</a>
    <a class="dropdown-item" href="/inprogressticket/{{ ticket.id }}/">Assign Ticket to You</a>
    <a class="dropdown-item" href="/comppletedticket/{{ ticket.id }}">Completed Ticket</a>
    <a class="dropdown-item" href="/invalidticket/{{ ticket.id }}/">Invalid Ticket</a>

  </div>
</div>

<div>
    <h2>{{ ticket.title }}</h2>
    <h3>Info:</h3>
    <h4>Status: </h4>{{ ticket.status }}
    <h4>Reported By: </h4>
</div>